<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="CMS College Kottayam ,Kerala"/>
        <link rel="canonical" href="http://cmscollege.edu"/>
        <meta property="og:locale" content="en_US"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="CMS College Kottayam"/>
        <meta property="og:description" content="CMS College Kottayam ,Kerala"/>
        <meta property="og:url" content="http://cmscollege.ac.in"/>
        <meta property="og:site_name" content="CMS College Kottayam"/>
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:description" content="CMS College Kottayam ,Kerala"/>
        <meta name="twitter:title" content="CMS College Kottayam"/>
        <meta name="twitter:domain" content="CMS College Kottayam"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ICELEARN</title>
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> 
        <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <script type="text/javascript" src="/stylesheets/main.js"></script>  
         
        <!--<link href="https://fonts.googleapis.com/css?family=Roboto:400, 700, 500" rel="stylesheet">-->
        <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Clicker+Script|Herr+Von+Muellerhoff|Mr+De+Haviland" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <div class="form-row">
                    <div class="form-group col-md-2 active" style="margin:0px;"> 
                    </div>
                    <div>
                          <a href="/announcements/index" class="active" id="apply_nav">Announcements</a>
                          <a href="/students" class="req_info" id="request_info">Students</a>
                          <a href="/faculty_staff" class="campus_snaps" id="camp_snaps">Faculty & Staff</a>
                          <a href="/request_info">Request Info</a>
                          <a href="/alumni">Alumni</a>
                          <a href="/parents">Parents</a>
                          <a href="/news">News</a>
                          <a href="/blog">Blog</a>
                          <a href="/links">Quick Links</a>
                          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                          </a>
                    </div>
            </div>
        </div>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <a class="navbar-brand" href="#">
               <img src="https://res.cloudinary.com/diqpplga6/image/upload/v1556597246/vhx9j7d52pomvrgrj2sz.jpg" alt="">
            </a>
              
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <h1 class="fill-height-x-small"></h1>
            
            <div class="collapse navbar-collapse" id=" id">
                <ul class="navbar-nav mr-auto">
                  <h1 class="fill-width-large"></h1>
                  <li class="nav-item">
                    <a class="nav-link" href="/" style="color:black;">Home</a>
                  </li>
                  
                  <h1 class="fill-width-medium"></h1>
                  
                   <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color:black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      About
                    </a>
                        <ul class="dropdown-menu multi-column multi-column-x column-3" style="font-style: italic;font-family:'Times New Roman';">
                            <div class="row">
                                <li> 
                                    <ul>
                                        <div class="col-sm-12">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="/schools/index"><strong>Our College</strong></a></li>
                                                <li><a href="#">Principal's Welcome</a></li>
                                                <li><a href="#">Quick Facts</a></li>
                                                <li><a href="#">History & Heritage</a></li>
                                                <li><a href="#">College Leadership</a></li>
                                                <li><a href="#">Vsion & Mission</a></li>
                                                <li><a href="#">Our Focus</a></li>
                                                <li><a href="#">Quality Matters</a></li>
                                            </ul>
                                        </div> 
                                    </ul>
                                </li>
                                <li> 
                                    <ul>
                                        <div class="col-sm-12">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="#">Quality Matters</a></li>
                                                <li><a href="#">Accreditation</a></li>
                                                <li><a href="#">Strategic Plan</a></li>
                                                <li><a href="#">Assessment of Student Achievement</a></li>
                                                <li><a href="#">Graduate Testimonials</a></li>
                                                <li><a href="#">Why CMS?</a></li>
                                                <li><a href="#">Faculty & Staff Directoty</a></li>
                                                <li><a href="#">Caeers</a></li>
                                                <li><a href="#">Student Complaint Procedure</a></li>
                                            </ul>
                                        </div> 
                                    </ul>
                                </li>
                            </div>
                        </ul> 
                    </li>
                     
                    <h1 class="fill-width-medium"></h1>
                     
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color:black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Academics
                    </a>
                        <ul class="dropdown-menu multi-column multi-column-x column-2" style="font-style: italic;font-family:'Times New Roman';">
                            <div class="row">
                                <li> <a><strong>Degree Courses</strong></a>
                                    <ul>
                                        <div class="col-sm-12">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="#">Course of Studies</a></li>
                                                <li><a href="#">Class Schedules</a></li>
                                                <li><a href="#">Academic Calendar</a></li>
                                                <li><a href="#">Course Catalog</a></li>
                                                <li><a href="#">Library</a></li>
                                                <li><a href="#">Mission & Goals</a></li>
                                                <li><a href="#">General Education Requirements</a></li>
                                                <li><a href="#">Academic Tutoring Resources</a></li>
                                            </ul>
                                        </div> 
                                    </ul>
                                </li>
                                <li> <a><strong>Post Graduate Courses</strong></a>
                                    <ul>
                                        <div class="col-sm-12">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="#">Course of Studies</a></li>
                                                <li><a href="#">Class Schedules</a></li>
                                                <li><a href="#">Academic Calendar</a></li>
                                                <li><a href="#">Course Catalog</a></li>
                                                <li><a href="#">Library</a></li>
                                                <li><a href="#">Mission & Goals</a></li>
                                                <li><a href="#">General Education Requirements</a></li>
                                                <li><a href="#">Academic Tutoring Resources</a></li>
                                            </ul>
                                        </div> 
                                    </ul>
                                </li>
                            </div>
                        </ul> 
                    </li>
                    
                    <h1 class="fill-width-medium"></h1>
                       
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle under-line" style="color:black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Admissions
                    </a>
                        <ul class="dropdown-menu multi-column multi-column-x column-4" style="font-style: italic;font-family:helvetica">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Action 1</a></li>
                                        <li><a href="#">Action 1</a></li>
                                        <li><a href="#">Action 1</a></li>
                                        <li><a href="#">Action 1</a></li>
                                        <li><a href="#">Action 1</a></li>
                                    </ul>
                                </div> 
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Action 2</a></li>
                                        <li><a href="#">Action 2</a></li>
                                        <li><a href="#">Action 2</a></li>
                                        <li><a href="#">Action 2</a></li>
                                        <li><a href="#">Action 2</a></li>
                                    </ul>
                                </div> 
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                    </ul>
                                </div> 
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                    </ul>
                                </div> 
                            </div>
                        </ul> 
                    </li>
                    
                    <h1 class="fill-width-medium"></h1>
                         
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color:black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Student Life
                    </a>
                        <ul class="dropdown-menu multi-column multi-column-x column-4" style="font-style: italic;font-family:helvetica">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Action 1</a></li>
                                        <li><a href="#">Action 1</a></li>
                                        <li><a href="#">Action 1</a></li>
                                        <li><a href="#">Action 1</a></li>
                                        <li><a href="#">Action 1</a></li>
                                    </ul>
                                </div> 
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Action 2</a></li>
                                        <li><a href="#">Action 2</a></li>
                                        <li><a href="#">Action 2</a></li>
                                        <li><a href="#">Action 2</a></li>
                                        <li><a href="#">Action 2</a></li>
                                    </ul>
                                </div> 
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                    </ul>
                                </div> 
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                    </ul>
                                </div> 
                            </div>
                        </ul> 
                    </li>
                    
                    <h1 class="fill-width-medium"></h1>
                         
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color:black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Athletics
                    </a>
                        <ul class="dropdown-menu multi-column multi-column-x column-4" style="font-style: italic;font-family:helvetica">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Action 1</a></li>
                                        <li><a href="#">Action 1</a></li>
                                        <li><a href="#">Action 1</a></li>
                                        <li><a href="#">Action 1</a></li>
                                        <li><a href="#">Action 1</a></li>
                                    </ul>
                                </div> 
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Action 2</a></li>
                                        <li><a href="#">Action 2</a></li>
                                        <li><a href="#">Action 2</a></li>
                                        <li><a href="#">Action 2</a></li>
                                        <li><a href="#">Action 2</a></li>
                                    </ul>
                                </div> 
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                    </ul>
                                </div> 
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                        <li><a href="#">Action 3</a></li>
                                    </ul>
                                </div> 
                            </div>
                        </ul> 
                    </li>
                    
                    <h1 class="fill-width-small"></h1>
                    
                    <% if(!currentUser){ %>
                    <h1 class="fill-width-large"></h1>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-style: italic;font-family:helvetica; color: #18325b" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Login
                        </a>
                            <ul class="dropdown-menu multi-column column-1" style="font-style: italic;font-family:helvetica; min-width: 300px;">
                                <div class="row">
                                    <div class="col-md-12 normal-font">
                                        <ul class="single-column-dropdown">
                                            <form class="px-4 py-3" action="/login" method="POST">
                                                <div class="form-group">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12" style="text-align: center">
                                                            <h2 class="form-title">Login</h2>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12" style="text-align: left">
                                                           <label class="required" for="inputEmail">Email address</label>
                                                            <input type="email" class="form-control" id="inputEmail" name="username" placeholder="Email Address" required = 'required' autofocus>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12" style="text-align: left">
                                                           <label class="required" for="inputPassword">Password</label>
                                                            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required = 'required' autofocus>
                                                        </div>
                                                    </div>
                                                    <!--<div class="form-row">-->
                                                    <!--    <div class="form-group col-md-12" style="text-align: center">-->
                                                    <!--       <input type="checkbox" class="form-check-input" id="dropdownCheck">-->
                                                    <!--          <label class="form-check-label" for="dropdownCheck">-->
                                                    <!--            Remember me-->
                                                    <!--          </label>-->
                                                    <!--    </div>-->
                                                    <!--</div>-->
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12" style="text-align: center;">
                                                           <button type="submit" class="btn btn-primary btn-block">Login</button>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12" style="text-align: left">
                                                           <a class="dropdown-item" href="/forgot">Forgot password?</a>
                                                           <a class="dropdown-item" href="/register">Create an Account?</a>
                                                        </div>
                                                    </div>
                                                </div>    
                                          </form>
                                        </ul>
                                    </div> 
                                </div>
                            </ul> 
                        </li> 
                        <h1 class="fill-width-small"></h1>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-style: italic;font-family:helvetica; color: #18325b" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Register
                        </a>
                            <ul class="dropdown-menu multi-column column-1" style="font-style: italic;font-family:helvetica; min-width: 300px;">
                                <div class="row">
                                    <div class="col-md-12 normal-font">
                                        <ul class="single-column-dropdown">
                                            <form class="px-4 py-3" action="/register" method="POST">
                                                <div class="form-group">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12" style="text-align: center">
                                                            <h2 class="form-title">Register</h2>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12" style="text-align: left">
                                                           <label class="required" for="inputEmail">Email address</label>
                                                            <input type="email" class="form-control" id="inputEmail" name="username" placeholder="Email Address" required = 'required' autofocus>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12" style="text-align: left">
                                                           <label class="required" for="inputPassword">Password</label>
                                                            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required = 'required' autofocus>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12" style="text-align: left">
                                                           <label class="required" for="inputFName">First Name</label>
                                                            <input type="text" class="form-control" id="inputFName" name="firstName" placeholder="First Name" required = 'required' autofocus>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12" style="text-align: left">
                                                           <label class="required" for="inputLName">Last Name</label>
                                                            <input type="text" class="form-control" id="inputLName" name="lastName" placeholder="Last Name" required = 'required' autofocus>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12" style="text-align: center;">
                                                           <button type="submit" class="btn btn-primary btn-block">Register</button>
                                                        </div>
                                                    </div>
                                                </div>    
                                          </form>
                                        </ul>
                                    </div> 
                                </div>
                            </ul> 
                        </li> 
                    <% } else { %>
                        <!--Notification-->
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-style: italic;font-family:helvetica; color: #18325b" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Notification <span style="color:blue">(<%= notifications.length %>)</span> 
                        </a>
                            <ul class="dropdown-menu multi-column column-1" style="font-style: italic;font-family:helvetica; min-width: 300px;">
                                <li>
                                    <a class="dropdown-form-title" href="/notifications">View past notifications</a>
                                </li>
                                <p></p>
                                <% notifications.forEach(function(notification) { %>
                                    <% if (notification.announcementId) { %>
                                        <li>
                                            <a class="dropdown-form-title" href="/notifications/<%= notification.id %>">
                                                Posted Announcement - <%= notification.announcementName.substring(0,15) %>
                                            </a>    
                                        </li>
                                    <% } %>  
                                <% }) %>
                            </ul> 
                        </li> 
                        <!--Follow-->
                        <h1 class="fill-width-small"></h1>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle follow-icon form-center" style="font-size:20px;color:red; font-weight:500;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                            <ul class="dropdown-menu multi-column column-1" style="font-style: italic;font-family:helvetica; min-width: 300px;">
                                <div class="row">
                                    <div class="col-md-12 normal-font">
                                        <ul class="single-column-dropdown">
                                            <div class="form-group">
                                                <div class="form-row">
                                                    <div class="form-group col-md-12 form-left">
                                                        <h2 class="dropdown-form-title">Would you like to follow the college news and announements? </h2>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-12 form-center">
                                                         <a class="btn btn-light" type="button" href="/follow/5ccf739a21310d0c59e4f77e">Follow</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </ul>        
                                    </div>  
                                </div>
                            </ul>
                        </li>
                        <!--Logged in user icon-->
                        <h1 class="fill-width-small"></h1>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle round-button form-center" style="font-size:20px;color:#18325b; font-weight:500;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <%= currentUser.firstName.slice(0,1) %> 
                            </a>
                            <ul class="dropdown-menu multi-column column-1" style="font-style: italic;font-family:helvetica; min-width: 300px;">
                                <div class="row">
                                    <div class="col-md-12 normal-font">
                                        <ul class="single-column-dropdown">
                                            <div class="form-group">
                                                    <div class="form-row form-center">
                                                        <div class="form-group col-md-12">
                                                            <h2 class="dropdown-form-title"><%= currentUser.email %> </h2>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12">
                                                            <a class="round-button form-left" style="font-size:30px;color:#18325b"><%= currentUser.firstName.slice(0,1) %></a>
                                                            <a class="href-class form-right" href="/edit-profile">Update Profile</a>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                             <a class="btn btn-light" type="button" href="/register">Add account</a>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <a class="btn btn-light" type="button" href="/logout">Sign out</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  
                                        </ul>
                                    </div> 
                                </div>    
                            </ul>
                        </li>        
                    <% } %>   
                </ul> 
            </div>
        </nav>
        
        <hr>
        <div class="container" >
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger normal-font" style="font-style: italic;font-family:helvetica; color:red;" role="alert">        
                    <%= error %>
                </div>  
            <% } %>  
            <% if(success && success.length > 0) { %>
                <div class="alert alert-success normal-font" style="font-style: italic;font-family:helvetica; color: green" role="alert">        
                    <%= success %>
                </div> 
            <% } %>    
        </div>

         
        
       

        




