<% include ../partials/header%>
<div class="container">
    <header class="jumbotron">
    <div class="row normal-font">
        <div class="col-md-12">
            <h4 class="form-title form-center"><%=announcement.name%></strong></h4>
            <p></p>
            <p></p>
            <p><%- announcement.desc %></p>
        </div>

        <div class="col-md-12 form-left">
            <div class="row">
                <% if (currentUser &&  currentUser.isSchoolAdmin) { %>
                 <a class="special-button special-font form-left" href="/announcements/<%= announcement._id %>/edit">Edit</a>
                <% } %> 
                <div class="fill-width-small"></div>
                <% if (currentUser &&  currentUser.isSchoolAdmin) { %>
                     <form class="delete-form form-left" action="/announcements/<%= announcement._id %>?_method=DELETE" method="POST">
                     <input type="submit" value="Delete" class="special-button special-font">
                     </form>
                <% } %>
            </div>    
        </div> 
         <div class="col-md-12">
            <div class="fill-height-x-small"></div>
        </div>
        <div class="col-md-12 form-left">
            <div>
                <a class="btn btn-default href-class form-style" href="/announcements/<%= announcement._id %>"><i class="fa fa-arrow-left"></i> Go back</a>
            </div>
        </div>
    </div>
    </header>
</div>

<% include ../partials/footer %>