<% include ../partials/header%>
<div class="container">
   <header class="jumbotron">
    <div class="row">
        <div class="col-md-12 form-style">
           <form action="/schools/<%= school._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-12 form-center" >
                       <h2 class="form-title">Edit: <%= school.name %></h2>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label class="required" for="inputName">Name</label> 
                      <input type="text" class="form-control" id="inputName" name="school[name]" value="<%= school.name %>" required = 'required' autofocus>
                    </div>
                    <div class="form-group col-md-6"></div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label class="required" for="inputAddress1">Address 1</label>
                      <input type="text" class="form-control" id="inputAddress1" name="school[address_1]" value="<%= school.address_1 %>" required = 'required' autofocus>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputAddress2">Address 2</label>
                      <input type="text" class="form-control" id="inputAddress2" name="school[address_2]" value="<%= school.address_2 %>" autofocus>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label class="required" for="inputCity">City</label>
                      <input type="text" class="form-control" id="inputCity" name="school[city]" value="<%= school.city %>" required = 'required' autofocus>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="fill-height-small"></div>
                      <label class="required" for="inputState">State</label>
                        <select id="inputState" name="school[state]" <%= school.state %> required = 'required' autofocus>
                          <% if (school.state === "AN") { %>
                            <option value="AN" selected>Andaman & Nicobar</option>
                          <% } %>  
                          <% if (school.state === "AP") { %>
                            <option value="AP" selected>Andhra Pradesh</option>
                          <% } %>  
                          <% if (school.state === "AR") { %>
                            <option value="AR" selected>Arunachal Pradesh</option>
                          <% } %> 
                          <% if (school.state === "AS") { %>
                            <option value="AS" selected>Assam</option>
                          <% } %>
                          <% if (school.state === "BR") { %>
                            <option value="BR" selected>Bihar</option>
                          <% } %>
                          <% if (school.state === "CH") { %>
                            <option value="CH" selected>Chandigarh</option>
                          <% } %>
                          <% if (school.state === "CG") { %>
                            <option value="CG" selected>Chhattisgarh</option>
                          <% } %>
                          <% if (school.state === "DN") { %>
                            <option value="DN" selected>Dadra and Nagar Haveli</option>
                          <% } %>
                          <% if (school.state === "DL") { %>
                            <option value="DL" selected>Delhi</option>
                          <% } %>
                          <% if (school.state === "DD") { %>
                            <option value="DD" selected>Daman & Diu</option>
                          <% } %>
                          <% if (school.state === "GA") { %>
                            <option value="GA" selected>Goa</option>
                          <% } %>
                          <% if (school.state === "GJ") { %>
                            <option value="GJ" selected>Gujarat</option>
                          <% } %>
                          <% if (school.state === "HR") { %>
                            <option value="HR" selected>Haryana</option>
                          <% } %>
                          <% if (school.state === "HP") { %>
                            <option value="HP" selected>Himachal Pradesh</option>
                          <% } %>
                          <% if (school.state === "JK") { %>
                            <option value="JK" selected>Jammu & Kashmir</option>
                          <% } %>
                          <% if (school.state === "JS") { %>
                            <option value="JS" selected>Jharkhand</option>
                          <% } %>
                          <% if (school.state === "KA") { %>
                            <option value="KA" selected>Karnataka</option>
                          <% } %>
                          <% if (school.state === "KL") { %>
                            <option value="KL" selected>Kerala</option>
                          <% } %>
                          <% if (school.state === "LD") { %>
                            <option value="LD" selected>Lakshadweep</option>
                          <% } %>
                          <% if (school.state === "MP") { %>
                            <option value="MP" selected>Madhya Pradesh</option>
                          <% } %>
                          <% if (school.state === "MH") { %>
                            <option value="MH" selected>Maharashtra</option>
                          <% } %>
                          <% if (school.state === "MN") { %>
                            <option value="MN" selected>Manipur</option>
                          <% } %>
                          <% if (school.state === "ML") { %>
                            <option value="ML" selected>Meghalaya</option>
                          <% } %>
                          <% if (school.state === "MZ") { %>
                            <option value="MZ" selected>Mizoram</option>
                          <% } %>
                          <% if (school.state === "NL") { %>
                            <option value="NL" selected>Nagaland</option>
                          <% } %>
                          <% if (school.state === "OR") { %>
                            <option value="OR" selected>Orissa</option>
                          <% } %>
                          <% if (school.state === "PY") { %>
                            <option value="PY" selected>Pondicherry</option>
                          <% } %>
                          <% if (school.state === "PB") { %>
                            <option value="PB" selected>Punjab</option>
                          <% } %>
                          <% if (school.state === "RJ") { %>
                            <option value="RJ" selected>Rajasthan</option>
                          <% } %>
                          <% if (school.state === "SK") { %>
                            <option value="SK" selected>Sikkim</option>
                          <% } %>
                          <% if (school.state === "TN") { %>
                            <option value="TN" selected>Tamil Nadu</option>
                          <% } %>
                          <% if (school.state === "TR") { %>
                            <option value="TR" selected>Tripura</option>
                          <% } %>
                          <% if (school.state === "UK") { %>
                            <option value="UK" selected>Uttarakhand</option>
                          <% } %>
                          <% if (school.state === "UP") { %>
                            <option value="UP" selected>Uttar Pradesh</option>
                          <% } %>
                          <% if (school.state === "WB") { %>
                            <option value="WB" selected>West Bengal</option>
                          <% } %>
                            <option value="AN">Andaman & Nicobar</option>
                            <option value="AP">Andhra Pradesh</option>
                            <option value="AR">Arunachal Pradesh</option>
                            <option value="AS">Assam</option>
                            <option value="BR">Bihar</option>
                            <option value="CH">Chandigarh</option>
                            <option value="CG">Chhattisgarh</option>
                            <option value="DN">Dadra and Nagar Haveli</option>
                            <option value="DL">Delhi</option>
                            <option value="DD">Daman & Diu</option>
                            <option value="GA">Goa</option>
                            <option value="GJ">Gujarat</option>
                            <option value="HR">Haryana</option>
                            <option value="HP">Himachal Pradesh</option>
                            <option value="JK">Jammu & Kashmir</option>
                            <option value="JS">Jharkhand</option>
                            <option value="KA">Karnataka</option>
                            <option value="KL">Kerala</option>
                            <option value="LD">Lakshadweep</option>
                            <option value="MP">Madhya Pradesh</option>
                            <option value="MH">Maharashtra</option>
                            <option value="MN">Manipur</option>
                            <option value="ML">Meghalaya</option>
                            <option value="MZ">Mizoram</option>
                            <option value="NL">Nagaland</option>
                            <option value="OR">Orissa</option>
                            <option value="PY">Pondicherry</option>
                            <option value="PB">Punjab</option>
                            <option value="RJ">Rajasthan</option>
                            <option value="SK">Sikkim</option>
                            <option value="TN">Tamil Nadu</option>
                            <option value="TR">Tripura</option>
                            <option value="UK">Uttarakhand</option>
                            <option value="UP">Uttar Pradesh</option>
                            <option value="WB">West Bengal</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label class="required" for="inputPostalCode">Postal Code (Pattern: 999999)</label>
                      <input type="text" class="form-control" id="inputPostalCode" name="school[zip]" value="<%= school.zip %>" pattern="[0-9]{6}" required = 'required' autofocus>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="required" for="inputPhone">Phone Number (Pattern: 999-999-9999)</label>
                      <input type="text" class="form-control" id="inputPhone" name="school[phone_number]" value="<%= school.phone_number %>" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required = 'required' autofocus>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label class="required" for="inputImage">Image</label>
                      <input class="form-control" type="file" name="school[image]" value="<%= school.image %>" accept="image/*" placeholder="Image" required = 'required'>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="required" for="inputDesc">Description</label>
                      <textarea class="form-control rounded-0" id="inputDesc" rows="8" cols="500" name="school[desc]" required = 'required'><%= school.desc %></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <a class="btn btn-default form-style href-class" href="/schools/<%= school._id %>"> <i class="fa fa-arrow-left"></i> Go back</a>
                    </div>
                    <div class="form-group col-md-6">
                      <button type="submit" class="btn btn-primary btn-md">Submit</button>
                    </div>
                </div>
                <div class="fill"></div>
            </form>
        </div>    
    </div>
    </header>
</div>    
<% include ../partials/footer %>

