<% include ../partials/header%>

<div class="container">
    <header class="jumbotron">
    <div class="d-flex justify-content-center class="form-style"">
        <div class="col-md-12">
            <h4 class="form-title form-center"><strong><%=program.name%></strong></h4>
            <p></p>
            <p></p>
            <hr class="special-hr"></hr>
            <% if (program.semesters.length === 0) { %>
                <h5 class="form-style">
                    <em>No semesters yet.</em>
                </h5>
                <% } else { %>
                <% program.semesters.forEach(function(semester){ %>
                    <p class="form-style"> <strong>Semester Name: </strong><%= semester.name%></p>
                    <p></p>
                    <p class="form-style"> <strong>Semester Description: </strong> <%= semester.desc%></p>
                    <p></p>
                    <p class="form-style"> <strong>Semester Duration: </strong> <%= semester.startDate.toLocaleDateString(("nl",{year:"2-digit",day:"2-digit", month:"2-digit"}))%> -  <%= semester.endDate.toLocaleDateString(("nl",{year:"2-digit",day:"2-digit", month:"2-digit"}))%></p>
                    <p></p>
                    <% if(currentUser &&  currentUser.isSchoolAdmin) { %>
                         <a class="special-button special-font" href="/schools/<%= school._id %>/programs/<%= program._id %>/semesters/<%=semester._id %>/edit">Edit</a>
                         <form class="delete-form" action="/schools/<%= school._id %>/programs/<%= program._id %>/semesters/<%=semester._id %>?_method=DELETE" method="POST">
                            <button class="special-button special-font">Delete</button>
                         </form>
                         <p></p>
                    <% } %>
                <% }); %>
            <% } %>
                <p></p>
                <div class="col-md-12 form-left">
                    <a class="btn btn-default href-class form-style" href="/schools/<%= school._id %>/programs"><i class="fa fa-arrow-left"></i> Go back</a>
                 </div>
                 <p></p>
                 <% if(currentUser &&  currentUser.isSchoolAdmin) { %>
                    <a class="special-button special-font" href="/schools/<%= school._id %>/programs/<%=program._id %>/semesters/new">Add New Semesters</a>
                 <% } %>    
            <p></p>
        </div>
    </div>
    </header>
</div>

<% include ../partials/footer %>